# Virtual environment
venv/
.venv/
env/

# pytest
.pytest_cache/
htmlcov/
.coverage

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

apresentacao/
frontend/package-lock.json
backend/instance